.pillNavigation button {
	background-color: dimgray;
	color: white;
	font-size: 1.3em;
	width: 1.7em;
	height: 1.7em;
}
.pillNavigation button.active {
	background-color: dimgray !important;
}
.pillFirst {
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}
.pillLast {
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}