textarea {
	height: 8em;
	font-size: 1em;
	width: 100%;
}
.ponderLayout {
	display: flex;
}
.ponderLayout section {
	flex: 1 1 50%;
}
.ponderLayout section:first-child {
	padding-right: 1em;
}
.ponderLayout section:last-child {
	background-color: rgb(250,246,217);
	padding: 1em;
}