.prevPage {
	right: 10em;
}
.prevPage::before {
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border-right: 9px solid #e5cb2c;
	border-top: 13px solid transparent;
	border-bottom: 13px solid transparent;
}